{% extends "email/html/order_cust.html.twig" %}

{% block email_html_order_cust_paymentinfo_top %}
    {% if payment.getId() is same as("kustom_checkout") %}
        <h3 class="underline">{{ translate({ ident: "PAYMENT_METHOD" }) }}</h3>
        <img src="http:{{ payment.getBadgeUrl() }}"
             style="padding: 0 10px 10px 0; width: 117px;" width="117">
        <br>
        <br>
        <p>
            <b>{{ payment.oxpayments__oxdesc.value }} {% if basket.getPaymentCosts() %}({{ basket.getFPaymentCosts() }} {{ currency.sign }}){% endif %}</b>
        </p>
        <br>
        <br>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}